@import url(https://fonts.googleapis.com/css?family=Poppins);

<<<<<<< HEAD
/* class qui s'applique a toute la page */
=======
/* s'applique a tout le site */
>>>>>>> d19c7adc54369198031b99b0e96b955aa7f59ac3

* {
    font-family: 'Poppins';
    padding-top: 5px;
    padding-left: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

<<<<<<< HEAD
h2 {
    font-size: 40px;
    margin-left: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/* bar de navigation (entete) */
=======
/* menu de navigation */
>>>>>>> d19c7adc54369198031b99b0e96b955aa7f59ac3

.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
<<<<<<< HEAD
    margin-left: 50px;
    margin-top: 30px;
}

/* page d'accueil (landing page) */

.landing-page {
    width: auto;
    height: 800px;
}

.main-title {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
=======
}

nav.nav li {
    color: black;
}

/* page de bienvenue (landing page) */

section.top-page {
    background-color: white;
    height: 400px;
    
}

.main-title {
    color: black;
>>>>>>> d19c7adc54369198031b99b0e96b955aa7f59ac3
    font-size: 80px;
}

/* page portfolio */

<<<<<<< HEAD
.portfolio {
    padding-left: 50px;
}

.project {
    list-style: none;
    text-align: center;
    margin-bottom: 200px;
}

.project h3 {
    font-size: 30px;
}

/* page a propos */

.about {
    padding-left: 50px;
    margin-bottom: 200px;
}

/* page contact */

.contact {
    padding-left: 50px;
    margin-bottom: 200px;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}
=======
section.portfolio-page {
    background-color: white;
    height: 400px;
}

section.portfolio-page li {
    list-style: none;
}
>>>>>>> d19c7adc54369198031b99b0e96b955aa7f59ac3
