@import url(https://fonts.googleapis.com/css?family=Poppins);

/* class qui s'applique a toute la page */

* {
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

h2 {
    font-size: 4rem;
    margin-left: 4.3vw;
}

p {
    font-size: 1rem;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

.link {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
}

.link:hover {
    background-position: -99.99% 0;
  }

.new-portfolio {
    background-color: red;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    z-index: 550;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-portfolio h2, .new-portfolio p {
    color: white;
}

.new-portfolio h2{
    font-size: 2rem;
}

.new-portfolio p{
    font-size: 1rem;
}

/* bar de navigation (entete) */

.header {
    position: fixed;
    background-color: white;
    box-shadow: 0px 0.5vh 2vh rgba(0, 0, 0, 0.25);
    top: 0;
    width: 100%;
    height: 8.7vh;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;

    width: 40vw;
    margin-top: 3.3vh;
    margin-left: 4.3vw;
}

.nav-menu:hover {
    text-decoration: none;

    /* A AJOUTER */
}

/* page d'accueil (landing page) */

.landing-page {
    position: relative;
    height: 95vh;

    display: flex;
    justify-content: center;    /* Alignement horizontal */
    align-items: center;        /* Alignement vertical */
    flex-direction: column;
}

.main-title {
    font-size: 6rem;
    z-index: 1;
}

.title-shape {
    width: 45vw;
    height: 35vh;
    background-color: #DDFAE5;
    border-radius: 2vw;
    box-shadow: 0px 0.5vh 2vh rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 20.9vw;
    top: 20vh;
}

.goto-portfolio {
    border: none;
    position: absolute;

    display: flex;
    align-items: center; 

    margin-top: 70vh;
    height: 7vh;

    background-color: #DDFAE5;
    border-radius: 10vw;
    box-shadow: 0px 0.5vh 2vh rgba(0, 0, 0, 0.25);

    transition: transform .2s;
}

.goto-portfolio:hover {
    transform: scale(1.1);
    box-shadow: 0px 0.1vh 4vh rgba(0, 0, 0, 0.25);
}

/* page portfolio */

.portfolio h3 {
    font-size: 2rem;
}

.project {
    display: flex;
    background-color: #DDFAE5;
    box-shadow: 0px 0.5vh 2vh rgba(0, 0, 0, 0.25);
    width: 100%;

    margin-bottom: 4vh;
}

.project-container {
    padding-left: 4.3vw;
    padding-right: 3vw;
    width: 50%;
}

.project-logo {
    width: 3vw;
    height: 3vh;

    transition: transform .2s; /* Animation */
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
.tags li {
    float: left; 
}
  
.tag {
    background: #ddd;
    border-radius: 2vw;
    display: inline-block;
    height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    -webkit-transition: color 0.2s;
}
  
.tag:hover {
    background-color: crimson;
    color: white;
}
  
.tag:hover::after {
     border-left-color: crimson; 
}

.project-image {
    width: 50%;
}

.project img {
    width: 100%;
}

.img-recadrage {
    height: 45vh;
}

.github-link {
    width: 1.3rem;
    height: 1.3rem;
}

.more-info-margin {
    margin-top: 6vh;
}

/* ============== */

/* page a propos */

.about {
    padding-left: 4.3vw;
    padding-top: 6vh;
}

.logo-container {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    background-color: #DDFAE5;
    border-radius: 2vw;
    padding: 1%;

}

.logo {
    width: 6vw;
    height: 6vh;

    transition: transform .2s; /* Animation */
}

.logo:hover {
    transform: scale(1.5); /* 150% zoom */
}

/* page contact */

.contact {
    padding-left: 4.3vw;
    padding-top: 5vh;
}

.contact h3 {
    font-size: 2rem;
    margin-left: 6.3vw;
    margin-top: 8vh;
}

.link-container {
    display: flex;
    width: 10vw;
    justify-content: space-around;
    background-color: #DDFAE5;
    border-radius: 2vw;
    padding: 1%;
}

.contact-logo {
    width: 6vw;
    height: 6vh;
    transition: transform .2s; /* Animation */
}

.contact-logo:hover {
    transform: scale(1.3); /* 150% zoom */
}

/* pied de page */

footer {
    background-color: #DDFAE5;
    box-shadow: 0px 0.5vh 2vh rgba(0, 0, 0, 0.25);

    bottom: 0;
    width: 100%;
    height: 8.7vh;

    margin-top: 10vh;
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    width: 90%;
    margin-left: 4.3vw;
}
